<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GithubDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A85AF011D50AE7E0074C3F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A85AF151D50AE7E0074C3F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A85AF201D50AE7E0074C3F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
